---
layout: default
---

<div class="wrap post">

  <div class="head">
    <a class="home" href="{{ '/' | relative_url }}">Drith</a>
    <a class="label" href="{{ '/devlog/' | relative_url }}">&larr; Devlog</a>
  </div>

  <span class="label">{{ page.date | date: "%Y.%m.%d" }}</span>
  <h1>{{ page.title }}</h1>

  <div class="prose">
    {{ content }}
  </div>

  <div class="foot">
    {%- if page.next %}<a href="{{ page.next.url | relative_url }}">&larr; {{ page.next.title }}</a>{% endif -%}
    {%- if page.next and page.previous %} &nbsp;&middot;&nbsp; {% endif -%}
    {%- if page.previous %}<a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} &rarr;</a>{% endif -%}
  </div>

</div>
